h1 {
    font-family: "Playwrite AU SA", cursive;
}

.color1 {
    color: rgb(11, 88, 68);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: initial;
}

.formet {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 100px;
}

.half-width img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-color: rgb(215, 100, 43);
    padding: 10px 20px;
    background-image: -moz-radial-gradient(orange, tomato);
    font-weight: 700;
    color: aliceblue;

    border-radius: 10px;
}

body {
    margin: 0;
}

.add-background {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    margin-top: 100px;
}

.dream-big {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    border-top: 150px;
}

.text {
    text-align: initial;
    padding-bottom: 30px;
    padding-right: 100px;
}

.last-stage {
    padding-top: 200px;
    padding-bottom: 200px;
}

.last-stage {
    background-image: url(exp-bg.png);
}

.experience-table {
    box-shadow: 10px 10px 30px orange;
    padding: 20px;
    margin: 60px;


}

.title {
    color: green;
    font-family: 'Courier New', Courier, monospace;
}

#brodr-slide {
    border-left: 8px solid;
    border-image: linear-gradient(blue, green);
    border-image-slice: 1;
    border-radius: 15px;

}

#border-slide {
    border-left: 8px solid;
    border-image: linear-gradient(rgb(205, 4, 4), rgb(235, 128, 40));
    border-image-slice: 1;
    border-radius: 15px;


}


footer {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
}